{% include "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}Chat{% endblock title %}
{% block content %}
<div class="container-lg">
    <hr class="featurette-divider">
<div class="row g-3 mt-3">
<div class="col-md-10">
    <div id="chat-container">
        <div class="card bg-light border-0 mb-3">
            <div id="chat-messages"></div>
        </div>
        <form class="chat-form" >
            {% csrf_token %}
            
            <div>
                <textarea name="input" class="form-control" placeholder="What's on your mind?" id="input"></textarea>
            </div>
 
         
            <div class="col-auto mt-3">
                <button type="submit" class="btn btn-primary" >submit</button>
            </div>
            
        </form>
    </div>
</div>
</div>
</div>

{% include 'scripts.html' %} 
{% block javascripts %}
    <script>
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $(document).ready(function() {
            $('.chat-form').submit(function(event) {
                event.preventDefault();
                var input = $('#input').val();
                $.ajax({
                    url: '',
                    type: 'POST',
                    headers:{
                        "X-CSRFToken": csrftoken
                    },
                    data: {input: input},
                    success: function(response) {
                        var message = '<p><strong>You:</strong> ' + ' ' + input + '</p>';
                        message += '<p><strong>ChatGPT:</strong> ' + ' ' + response.response + '</p>';
                        $('#chat-messages').append(message);
                        $('#input').val('');
                    }
                });
            });
        });
    </script>
{% endblock javascripts %}
{% endblock content %}