{% include "base.html" %}
{% block content %}      

{% load crispy_forms_tags %}



    <h1 style="padding-left:35%">Please Login To Continue! </h1>
    <p></p>
    <p></p>
    <p></p>
    
    <!--Login--> 
    <div class="container py-5">
      <h1>Login</h1>
      <form method="POST">
        {% csrf_token %}
        {{ login_form|crispy }}
        <button class="btn btn-primary" type="submit">Login</button>
      </form>
      <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
    </div>
    
    {% endblock %}