{% include "base.html" %}

<form method="POST">
    {% csrf_token %}
    
    <label for="inputState">Enter Degree :</label>
    <select name="degree"  class="form-control">
      <option value="1">Bachelors</option>
      <option value="2">Masters</option>
    </select> <br>
    
    <label for="type">Enter Project Type: </label>
    <select name="type"  class="form-control">
        <option value="1">Mini</option>
        <option value="2">Major</option>
    </select> <br>

    <label for="domain">Enter Domain : </label>
    <input type="text" class="form-control" name="domain" id="domain" placeholder="Enter Project Domain">


    <input type="submit" name="submit"></input>
    
    
    {% if response %}
    <h2>Chatbot response:</h2>
    <p>{{ response }}
    <input type="hidden" name="savecontent" value="{{ response }}">
    <input onclick="alert('Saved!')" type="submit" name="save" value="SAVE" id="save"></input></p>
    {% endif %}

  </form>
  <script>
    function change() 
  {
    var elem = document.getElementById("save");
    if (elem.value=="SAVE") elem.value = "Saved!";
    
  }
  </script>