 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graduation Admission Prediction</title>
</head>
<body>{% comment %}
    <form action="" method="POST" >
        {% csrf_token %}
        Enter Gender : <input type="text" name="gender"><br>
        Enter University Tier : <br>
        College Tier : <select name="uni">
            <option value="1">Tier 1</option>
            <option value="2">Tier 2</option>
            <option value="3">Tier 3</option>
        </select><br>
        
        Type of Degree : <select name="degree">
            <option value="0">Bachelors</option>
            <option value="1">Masters</option>
        </select><br>

        

        Enter Pointer : <input type="text" name="cgpa"><br>
        Enter Graduation Year : <input type="text" name="year"><br>
        <input type="submit" value="Check"> 
    </form>{% endcomment %}

 

{% include "base.html" %}
<form style="padding-left:100px ; padding-right:100px ; margin-top:50px" action="" method="POST" >
    <h2 style="text-align: center; color: #C60021;">Please Enter Your Details! </h2>
    
            {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Gender">Gender</label>
                <input type="text" class="form-control" name="gender" id="Gender" placeholder="Gender">
              </div>
          <div class="form-group col-md-6">
            <label for="Pointer">Pointer</label>
            <input type="tetx" class="form-control" id="Pointer" name="cgpa" placeholder="Average CGPA">
          </div>
        </div>
   
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputState">College Tier</label>
                <select name="uni" class="form-control">
                  <option value="1">Tier 1</option>
                  <option value="2">Tier 2</option>
                  <option value="3">Tier 3</option>
                </select>
              </div>
          <div class="form-group col-md-4">
            <label for="inputState">Specialization</label>
            <select id="inputState"  name="specialization" class="form-control">
              <option selected>Choose...</option>
              <option value="0">Computer science and engineering</option>
              <option value="1">Electronics and Telecommunications</option>
              <option value="2">Information Technology</option>
              <option value="3">Automobile/automotive engineering</option>
              <option value="4">Biotechnology</option>
              <option value="5">Mechanical engineering</option>
              <option value="6">Instrumentation engineering</option>
              <option value="7">Aeronautical engineering</option>
              <option value="8">Biomedical engineering</option>
              <option value="9">Chemical engineering</option>
              <option value="10">Civil engineering</option>
              <option value="11">Computer engineering</option>
              <option value="12">Electrical engineering</option>
              <option value="13">Telecommunication engineering</option>
              <option value="14">Industrial engineering</option>
              <option value="15">Electronics and Computer engineering</option>
              <option value="16">Electronics engineering</option>
              <option value="17">Mechatronics</option>
              <option value="18">Others</option>
            </select>
          </div>
        </div>
        
          <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputState">Type of Degree</label>
                <select name="degree"  class="form-control">
                  <option value="0">Bachelors</option>
                  <option value="1">Masters</option>
                </select>
            </div>
          <div class="form-group col-md-6">
            <label for="year">Graduation Year</label>
            <input type="text" class="form-control" id="year"  name="year"  placeholder="Year">
          </div>
        </div>
          <input type="submit" value="Predict Salary" class="btn btn-primary">
        </form>
      {% if output != 99 %}
      <h4 style="text-align: center; color: #C60021;">You Can Expect A Salary of: </h4><br>
      <h4 style="text-align: center;"> {{ output }}</h4>
      {% else %}
      <p></p>
       {% endif %}
    </body>
</html> 
